@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'bootstrap-icons/font/bootstrap-icons.css';

* {
    font-family: 'Mulish', sans-serif;
}

.pac-container {
    z-index: 9999 !important;
}
body {
    overflow-y: scroll;
}